* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #02111b;
	color: #fcfcfc;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: sans-serif;
}
